header {
    background-image: url('../images/dog-cat-banner.png');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 400px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 40px 50px;
    box-sizing: border-box;
  }

  .header__heading {
    font-family: 'Lobster', sans-serif;
    font-size: 6em;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .header__label {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
    align-self: self-start;
   }

  .header__select {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}